@tailwind base;
@tailwind components;
@tailwind utilities;

:level0 {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :level0 {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html,
body {
  overscroll-behavior-x: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.no-shadow-menu {
  --contexify-menu-shadow: none;
}

.flex-row.group:hover ~ .flex-row.group {
  transform: translateX(calc(100% - 1rem));
}
